# Database connection string for Prisma. Use your Neon PostgreSQL connection string here.
DATABASE_URL="postgresql://username:password@ep-cool-shadow-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"
PORT=5000

# React Frontend Environment variables (Vite-specific)
VITE_API_URL="http://localhost:5000/api"
VITE_SOCKET_URL="http://localhost:5000"
